# SPDX-License-Identifier: GPL-3.0-only

.gdbinit

.savesave.*
!.savesave.example

.config
.config.old

build/*
!build/locale

savesave.manifest
include/generated
include/arch

locale/*~
locale/generated.pot

sandbox
DRAFT

sxstrace.*
