# SPDX-License-Identifier: GPL-3.0-only
mainmenu "Savesave/$(BUILD)-$(ARCH) $(SAVESAVE_VERSION) Configuration"

menu "Compiling"

choice
	prompt "CC"

config CC_IS_GCC
	bool "gcc"
	depends on $(BUILD) = "linux"

config CC_IS_CLANG
	bool "clang"

endchoice

choice
	prompt "CXX"
	depends on $(BUILD) != "linux"

config CXX_IS_CLANG
	bool "clang++"

endchoice

config CC_NAME
	string
	default "gcc" if CC_IS_GCC
	default "clang" if CC_IS_CLANG

config CXX_NAME
	string
	default "g++" if CXX_IS_GCC
	default "clang++" if CXX_IS_CLANG

choice
	prompt "Debug level"
	default COMPILER_DEBUG_3

config COMPILER_DEBUG_0
	bool "0 - produces no debug information at all"

config COMPILER_DEBUG_1
	bool "1 - produces minimal information"

config COMPILER_DEBUG_2
	bool "2 - produces more information"

config COMPILER_DEBUG_3
	bool "3 - includes as much information as possible"

endchoice

choice
	prompt "Optimizations"
	default COMPILER_OPTIMIZE_0

config COMPILER_OPTIMIZE_0
	bool "0 - reduce compilation time"

config COMPILER_OPTIMIZE_1
	bool "1 - optimize a little"

config COMPILER_OPTIMIZE_2
	bool "2 - optimize even more"

config COMPILER_OPTIMIZE_3
	bool "3 - optimize yet more"

endchoice

config COMPILER_WARNING_ALL
	bool "use -Wall"
	default y

config COMPILER_WARNING_EXTRA
	bool "use -Wextra"

config LINK_LIBZSTD_STATIC
	bool "link against libzstd static library"
	depends on $(BUILD) = "linux"

endmenu # "Compiling"

menu "Feature"

config IS_CONSOLE_APP
	bool "build console version of savesave"
	depends on $(BUILD) = "windows"

config ARCHIVE_EXTENTION
	string "file extension for archive file (no dot)"
	default "ss"

config TMPFILE_EXTENTION
	string "file extension for temporary directory (no dot)"
	default "tmp"

config COMPRESSING_THRESHOLD
	int "size threshold for compression (in KiB)"
	default 30720

config SNAPSHOT_THRESHOLD
	int "size threshold for creating snapshot (in MiB)"
	default 102400

config LINEWRAP_THRESHOLD
	int "character threshold for line wrap"
	default 80

endmenu # "Feature"

menu "Gettext"

config DISALBE_GETTEXT
	bool "disable i18n features"

config TARGET_LOCALE
	string "user locale for gettext"

endmenu # "Gettext"

menu "Debugging"

config SOURCE_NDEBUG
	bool "define NDEBUG"

config SUPPRESS_ANNOTATED_LEAKS
	bool "suppress annotated leaks"

config NO_LONGRUNNING_DAEMON
	bool "disable daemonized longrunning"

menu "Windows"
	depends on $(BUILD) = "windows"

config DEBUG_INTLDLL
	bool "debug libintl"

config MAX_DUMP_STACK
	int "max dump stack (up to USHRT_MAX)"
	default 64

endmenu # "Windows"

endmenu # "Debugging"
